ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#pe {
    position: fixed;
}

.active {
    background-color: #04AA6D;
}

button {
    float: left;
}

button a {
    display: block;
    color: blue;
    text-align: center;
    color: green;
    padding: 14px 16px;
    text-decoration: none;
}

button:hover {
    background-color: #111;
}

h1 {
    position: center;
}

.menuitem {
    display: none;
}