

.header {
    position: fixed;
    width: 100%;
    margin: 0;
    border: 1px solid black;
    background-color: #333;
    padding: 20px;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    position: sticky;
    top: 0;
}

.container {
    display: flex;
}

.container.space-around {
    justify-content: space-around;
}

.active {
    background-color: #04AA6D;
}

button {
    float: left;
}

button a {
    display: block;
    color: blue;
    text-align: center;
    color: green;
    padding: 14px 16px;
    text-decoration: none;
}

button:hover {
    background-color: #111;
}

h1 {
    position: center;
}

.menuitem {
    display: none;
}

table {
    width: 100%;
    table-layout: fixed;
}

tr, td {
    border: 1px solid black;
}

td {
    width: 100px;
    overflow: hidden;
}

tr {
    height: 50%;
    overflow: hidden;
}
